{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="png/jpeg" href="{%static 'simpleweb/logo.png'%}">
	<title>Creative Students</title>
	<meta charset="UTF-8">
    <meta name ="description" content=" ">
   <meta name ="viewport" content="width=device-width , initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" type="text/css" href="{%static 'simpleweb/styles.css'%}">
</head>
<body>
    <div class="container">
        <div class="navigation">
        <header>
            <img class="logo" src="{%static 'simpleweb/home_icon.png'%}" alt="logo">
            <h2 class="logoName" >Creaters</h2>
               <nav id="nav_bar">
            <ul class="links">
                <li><a href="#">Back to Homepage</a></li>
                
            </ul>
                </nav>
        </header>
        </div>
    </div>    
</body>
</html>